.cls
{
    border: 2px solid red;
    height:400px; 
}
.b-background
{
    background-image: url(images/20.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: top;
    box-sizing: border-box;
    
}